body {
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}
h1 {
    color: #3E4C59;
}
a {
    background-color: #3E4C59;
    color: #F2F2F2;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}